{% extends "base.html" %}

{% block title %}
Association - Billeterie Epita
{% endblock %}

{% load static %}

{% block body %}
<h2>Suppression d'un membre dans une association</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Supprimer">
</form>
<input type="submit" value="Annuler" onclick="window.location='/associations/' + {{ association_id }};"/>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}