{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Association - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{%block body %}
<h2>{{ association.name }}</h2>
<p><strong>Chef de l'association: </strong>{{ association.chef }}</p>

{% if members %}
    <p><strong>Membres: </strong></p>
    <ul>
    {% for member in members %}
        <li>{{ member.user.user.username }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if events %}
    <p><strong>Evénements: </strong></p>
    <ul>
    {% for event in events %}
        <li>{{ event.title }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if request.user|has_perm:"billeterie.change_association" %}
    <form action="{% url 'billeterie:association_modified' association.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Modification"/>
    </form>
{% endif %}

{% if request.user|has_perm:"billeterie.delete_association" %}
    <form action="{% url 'billeterie:association_deleted' association.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Suppression"/>
    </form>
{% endif %}

{% if request.user|has_perm_chef:association.name %}
    <form action="{% url 'billeterie:association_add_member' association.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Ajouter un nouveau membre"/>
    </form>
{% endif %}

{% if request.user|has_perm_chef:association.name %}
    <form action="{% url 'billeterie:association_delete_member' association.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Supprimer un membre"/>
    </form>
{% endif %}

{% endblock %}