{% extends "base.html" %}
{% load billeterie_extras %}

{% block title %}
Associations - Billeterie
{% endblock %}

{% block body %}
<h2>Liste des associations</h2>
{% if request.user|has_perm:"billeterie.add_association" %}
    <h4><a href="/create_association">Créer une association</a></h4>
{% endif %}

{% if association_list %}
    <table cellpadding="10">
        <tr>
            <td><b>Nom</b></td>
        </tr>
        {% for association in association_list %}
        <tr>
            <td><a href="{{ association.id }}">{{ association.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Pas d'associations.</p>
{% endif %}

{% include "pagination.html" %}
{% endblock %}