<!DOCTYPE HTML>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        {% block css %}{% endblock %}
    </head>

    <!-- content -->
    <body>

        <!-- header -->
        <header class="container-fluid col-12 header">
            <div class="row">
                <div class="col-1 offset-1 img-container">
                    <a href="/epita">
                        <img src="{% static 'img/logo_epita.png' %}" alt="Logo Epita">
                    </a>
                </div>

                <div class="col-1">
                    <a href="/" class="home">Billeterie</a>
                </div>

                <div class="col-2 offset-4">
                    <form class="searchbar" id="searchform" action="{% url 'billeterie:search_list' %}" method="get" accept-charset="utf-8">
                        <input name="q" type="search" class="placeholder" id="search" value="Rechercher..."/>
                    </form>

                </div>

                <div class="col-3 account">
                    {% if user.is_authenticated %}
                    <a href="/profile" class="connexion">Mon compte</a>
                    |
                    <a href="/logout" class="connexion">Déconnexion</a>
                    {% else %}
                    <a href="/accounts/login" class="connexion">S'identifier</a>
                    |
                    <a href="/registration" class="connexion">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <!-- end header -->

        <!-- navigation -->
        <section class="container-fluid col-8 offset-2 navigation">
                <nav class="menu">
                    {% block links %}
                    <a href="/">Accueil</a>
                    <a href="/events">Liste des événements</a>
                    <a href="/persons">Liste des membres</a>
                    <a href="/associations">Liste des associations</a>
                    {% endblock %}
                </nav>
        </section>
        <!-- end navigation -->

        <!-- body -->
        <section class="container-fluid col-8 offset-2 body">
            {% block body %}{% endblock %}
        </section>
        <!-- end body -->

        <!-- footer -->
        <footer class="container-fluid col-12 footer">
            {% block footer %}{% endblock %}
        </footer>
        <!-- end footer -->

        <!-- script -->
        <script src="{% static 'js/script.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>