{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Billets - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{%block body %}
<h3>L'événement est {{ name }}</h3>
<h3>Veuillez rentrer un code de validation pour afficher les informations du détenteur du billet</h3>
<form method="GET">
    Code de validation: <input type="text" name="search"><br/>
    <input type="submit" value="Rechercher" />
</form><br/><br/>

{% if member %}
    <table cellpadding="10">
        <tr>
            <td><b>Prénom</b></td>
            <td><b>Nom</b></td>
            <td><b>Code de validation</b></td>
        </tr>
        <tr>
            <td>{{ member.user.user.first_name }}</td>
            <td>{{ member.user.user.last_name }}</td>
            <td>{{ member.validation_code }}</td>
        </tr>
    </table>
{% endif %}

{% endblock %}