{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Billets - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{%block body %}
<h3>Liste des inscrits pour l'événement: {{ name }}</h3>
{% if members %}
    <table cellpadding="10">
        <tr>
            <td><b>Prénom</b></td>
            <td><b>Nom</b></td>
            <td><b>Code de validation</b></td>
        </tr>
        {% for member in members %}
        <tr>
            <td>{{ member.user.user.first_name }}</td>
            <td>{{ member.user.user.last_name }}</td>
            <td>{{ member.validation_code }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}