{% extends "base.html" %}

{% block title %}
Billet - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{% block body %}

<p><strong>Nom: </strong>{{ person.user.last_name }}</p>
<p><strong>Prénom: </strong>{{ person.user.first_name }}</p>
<p><strong>Code de validation: </strong>{{ event_member.validation_code }}</p>
<p><strong>Titre de l'événement: </strong>{{ event.title }}</p>
<p><strong>Date: </strong>{{ event_date }}</p>
<p><strong>Heure: </strong>{{ event_hour }}</p>
<p><strong>Lieu: </strong>{{ event.place }}</p>
<p><strong>Association: </strong>{{ event.association }}</p>
{% if event.image %}
    <img class="img_event" src="{{ event.image.url }}">
{% endif %}
{% endblock %}