{% extends "base.html" %}

{% block title %}
Création d'événement - Billeterie Epita
{% endblock %}

{% block body %}
<h2>Creation d'evenement</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Créer">
</form>
<input type="submit" value="Annuler" onclick="window.location='/';"/>
{% endblock %}