{% extends "base.html" %}

{% block title %}
Création d'association - Billeterie Epita
{% endblock %}

{% load static %}

{% block body %}
<h2>Creation d'association</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Créer">
</form>
<input type="submit" value="Annuler" onclick="window.location='/';"/>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}