{% extends "base.html" %}

{% block title %}
Evénement - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{% block body %}
<h2>{{ event.title }}</h2>
{% if event.description == "Entrez une description ..." %}
    <p>Il n'y a pas de description pour cet événement.</p>
{% else %}
    <p class="description">{{ event.description }}</p>
{% endif %}
<p><strong>Date de début: </strong>{{ event.begin_date }}</p>
<p><strong>Date de fin: </strong>{{ event.end_date }}</p>
<p><strong>Date de fin de l'inscription: </strong>{{ event.end_inscription }}</p>
<p><strong>Lieu: </strong>{{ event.place }}</p>
{% if event.image %}
    <img class="img_event" src="{{ event.image.url }}">
{% endif %}
<p><strong>Association: </strong>{{ event.association }}</p>
<p><strong>Places maximum pour des personnes externes: </strong>{{ event.max_extern }}</p>
<p><strong>Places maximum pour des personnes internes: </strong>{{ event.max_intern }}</p>
<p><strong>Prix d'une place externe: </strong>{{ event.price_extern }} €</p>
<p><strong>Prix d'une place interne: </strong>{{ event.price_intern }} €</p>
{% if event.display_remaining_places %}
    <p><strong>Places restantes pour des personnes externes: </strong>{{ rpe }}</p>
    <p><strong>Places restantes pour des personnes internes: </strong>{{ rpi }}</p>
{% endif %}

{% if event.info_type == 'WAITING' %}
    <p><strong>L'événement est en attente de validation les inscriptions ne sont pas encore ouvertes</strong></p>
{% elif event.info_type == 'REFUSED' %}
    <p><strong>L'événement a été refusé, il n'auras donc pas lieu, désolé :(</strong></p>
{% elif event.info_type == 'CLOSED' %}
    <p><strong>Les inscriptions à l'événement sont terminées, désolé :(</strong></p>
{% elif event.info_type == 'TERMINATED' %}
    <p><strong>L'événement est terminé, désolé :(</strong></p>
{% endif %}

<div class="buttons">
    {% if event.info_type == 'VALIDATED' %}
        <form action="{% url 'billeterie:event_add_member' event.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="S'inscrire"/>
        </form>
    {% endif %}

    {% if request.user|has_perm_creator_event:event.id and event.info_type == 'VALIDATED' %}
        <form action="{% url 'billeterie:event_add_staff' event.id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Ajouter un staff"/>
        </form>
    {% endif %}

    {% if request.user|has_perm_creator_event:event.id and event.info_type == 'VALIDATED' %}
        <form action="{% url 'billeterie:event_delete_staff' event.id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Supprimer un staff"/>
        </form>
    {% endif %}

    {% if request.user|has_perm_creator_event:event.id and event.info_type != 'TERMINATED' %}
        <form action="{% url 'billeterie:event_modified' event.id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Modification"/>
        </form>
    {% endif %}

    {% if request.user|has_perm_chef:event.association %}
        <form action="{% url 'billeterie:event_deleted' event.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Suppression"/>
        </form>
    {% endif %}

    {% if event.info_type == "WAITING" and request.user|has_perm_chef:event.association %}
        <form action="{% url 'billeterie:event_validate' event.id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Valider"/>
        </form>
    {% endif %}

    {% if event.info_type == "WAITING" and request.user|has_perm_chef:event.association %}
        <form action="{% url 'billeterie:event_refuse' event.id %}" method="get">
            {% csrf_token %}
            <input type="submit" value="Refuser"/>
        </form>
    {% endif %}
</div>
{% endblock %}