{% extends "base.html" %}
{% load billeterie_extras %}

{% block title %}
Evénements - Billeterie
{% endblock %}

{% block body %}
<h2>Liste des evenements</h2>
{% if request.user|has_perm_member_asso %}
    <h4><a href="/create_event">Créer un événement</a></h4>
{% endif %}
{% if event_list %}
    <table cellpadding="10">
        <tr>
            <td><b>Nom</b></td>
            <td><b>Status</b></td>
            <td><b>Association</b></td>
            <td><b>Créateur</b></td>
        </tr>
        
        {% for event in event_list %}
        <tr>
            <td><a href="{{ event.id }}">{{ event.title }}</a></td>
            {% for t, m in event.INFO_TYPE_CHOICES %}
                {% if t == event.info_type %}
                        <td>{{ m }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ event.association.name }}</td>
            <td>{{ event.creator.user.username }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Pas d'evenements.</p>
{% endif %}

{% include "pagination.html" %}
{% endblock %}
