{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Accueil - Billeterie Epita
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
{% endblock %}

{% block body %}
<div class="global_slider">
    <div id="myCarousel" class="carousel slide slider_self" data-ride="carousel">

        <ol class="carousel-indicators">
            {% for event in events %}
                {% if forloop.counter0 == 0 %}
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="carousel-inner box_sliders" role="listbox">
            {% for event in events %}
                {% if forloop.counter == 1 %}
                    <div class="item active box_slider">
                {% else %}
                    <div class="item box_slider">
                {% endif %}
                        {% if event.image %}
                            <img src="{{ event.image.url }}" alt="Image" class="img_slider">
                        {% else %}
                            <img src="{% static 'img/logo_epita.png' %}" alt="Image" class="img_slider">
                        {% endif %}
                        <div class="carousel-caption text_slider">
                            <h3>{{ event.title }}</h3>
                            <p>{{ event.description }}</p>
                            {% for t, m in event.INFO_TYPE_CHOICES %}
                                {% if t == event.info_type %}
                                    <p>{{ m }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        </div>
    </div>
</div>

<div class="block">
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'billeterie:index' %}?{{ prev_month }}"> Mois Précédent </a>
        <a class="btn btn-info right" href="{% url 'billeterie:index' %}?{{ next_month }}"> Mois Suivant </a>
    </div>
        {{ calendar }}
</div>

<div>
    <img src="{% static 'img/red.png' %}"> Staff de l'événement
    <img src="{% static 'img/green.png' %}"> Inscrits à l'événement
    <img src="{% static 'img/maroon.png' %}"> Créateur de l'événement
    <img src="{% static 'img/purple.png' %}"> Chef de l'association pour l'événement
    <img src="{% static 'img/blue.png' %}"> Autres événements
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}