{% extends "base.html" %}

{% block title %}
Connexion/Inscription - Billeterie Epita
{% endblock %}

{% block body %}
<h1>Page de connexion/inscription</h1>
<input type="submit" value="Connexion Cri" onclick="window.location='{% url 'social:begin' backend='epita' %}';"/>
<input type="submit" value="Se connecter" onclick="window.location='/accounts/login';"/>
<input type="submit" value="S'inscrire" onclick="window.location='/registration/';"/>
{% endblock %}