{% extends "base.html" %}

{% block title %}
Modification d'événement - Billeterie Epita
{% endblock %}

{% block body %}
<h2>Modification d'evenement</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Modifier">
</form>
<input type="submit" value="Annuler" onclick="window.location='/events';"/>
{% endblock %}