{% extends "base.html" %}

{% block title %}
Modification d'association - Billeterie Epita
{% endblock %}

{% block body %}
{% load static %}
<h2>Modification d'association</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Modifier">
</form>
<input type="submit" value="Annuler" onclick="window.location='/associations';"/>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}