{% extends "base.html" %}

{% block title %}
Modificationde profil - Billeterie Epita
{% endblock %}

{% block body %}
<h2>Modification de profil</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <br>{{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small><br>
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Modifier">
</form>
<input type="submit" value="Annuler" onclick="window.location='/profile';"/>
{% endblock %}