{% extends "base.html" %}

{% block title %}
Membres - Billeterie
{% endblock %}

{% block body %}
<h2>Liste des membres</h2>
{% if person_list %}
    <table cellpadding="10">
        <tr>
            <td><b>Pseudo</b></td>
            <td><b>Prénom</b></td>
            <td><b>Nom</b></td>

        </tr>
        {% for person in person_list %}
            <tr>
                <td>{{ person.user.username }}</td>
                <td>{{ person.user.first_name }}</td>
                <td>{{ person.user.last_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Pas de membres.</p>
{% endif %}

{% include "pagination.html" %}
{% endblock %}