{% extends "base.html" %}

{% block title %}
Profil - Billeterie Epita
{% endblock %}

{% block body %}
<h2>Votre profil</h2>
<p>Pseudo: {{ user.username }}</p>
<p>Prénom: {{ user.first_name }}</p>
<p>Nom: {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Date de naissance: {{ person.birth_date }}</p>
{% if events %}
<p><strong>Evénéments: </strong></p>
<ul>
{% for event in events %}
    <li class="indent">{{ event.event.title }} <a href="{{ event.validation_code }}">Voir mon billet</a></li>
{% endfor %}
</ul>
{% endif %}
{% if chefs %}
<p><strong>Chef d'associations: </strong></p>
<ul>
{% for chef in chefs %}
    <li class="indent">{{ chef.name }}</li>
{% endfor %}
</ul>
{% endif %}
{% if associations %}
<p><strong>Associations: </strong></p>
<ul>
{% for association in associations %}
    <li class="indent">{{ association.association.name }}</li>
{% endfor %}
</ul>
{% endif %}
{% if staffs %}
    <p><strong>Staff: </strong></p>
    <ul>
    {% for staff in staffs %}
        <li class="indent">{{ staff.event.title }}
            <a href="{{ staff.event.id }}/search">Rechercher un billet</a>
            <a href="{{ staff.event.id }}/list">Lister les billets</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% if eventschef %}
    <p><strong>Chef des événements: </strong></p>
    <ul>
    {% for event in eventschef %}
        <li class="indent">{{ event.title }}
            <a href="{{ event.id }}/search">Rechercher un billet</a>
            <a href="{{ event.id }}/list">Lister les billets</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

<form action="{% url 'billeterie:profile_modified' user.id %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Modification"/>
</form>
<input type="submit" value="Se déconnecter" onclick="window.location='/logout';"/>
{% endblock %}