{% extends "base.html" %}
{% load billeterie_extras %}

{% block title %}
Recherche - Billeterie
{% endblock %}

{% block body %}
<h2>Résultats de la recherche</h2>

{% if events or associations %}
    <table cellpadding="10" class="double_table">
        <tr>
            <td><b>Event</b></td>
        </tr>
        {% for event in events %}
            <tr>
                <td><a href="/events/{{ event.id }}">{{ event.title }}</a></td>
            </tr>
        {% endfor %}
        
    </table>
    <table cellpadding="10" class="double_table">
        <tr>
            <td><b>Association</b></td>
        </tr>
        {% for association in associations %}
            <tr>
                <td><a href="/associations/{{ association.id }}">{{ association.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Pas de recherche trouvée.</p>
{% endif %}

{% include "pagination.html" %}
{% endblock %}