@charset "UTF-8";

.test {
    background-color: white;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/website.jpg");
}

a {
    text-decoration: none;
}

.placeholder {
    color: gray;
}

/* header */

.header {
    background-color: #00435f;
    height: 70px;
    line-height: 70px;
}

.home {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.row {
    height: inherit;
}

.img-container{
    height: inherit;
}

.img-container img {
    height: 80%;
}

.searchbar{
    float: right;
    height: 40%;
}

input {
    width: fit-content;
    height: 100%;
}

.connexion {
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

/* navigation */

.navigation {
    border-radius: 0px 0px 5px 5px;
    background-color: #41b2e6;
    margin-bottom: 15px;
}

.menu {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
}

.menu a {
    color: #0d2436;
    margin-left: 5%;
    margin-right: 5%;
}

/* body */

.my404 {
    font-size: 70px;
    color: #41b2e6;
    text-align: center;
    padding-top: 25%;
}

.body {
    background-color: #dfdfdf;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    height: auto;
    padding: 15px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.temporaire {
    height: 250px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    display: flex;
}

.temporaire p {
    margin: auto;
}

.buttons form {
    display: inline;
}

.img_event {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40%;
}

.description {
    max-width: 50%;
}

.double_table {
    display: inline;
    padding-right: 150px;
}

.indent {
    margin-left: 30px;
}

/* slider */

.global_slider {
    display: flex;
    height: 1%;
    width: 100%;
}
.slider_self {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    background-image: url("../img/slider.png");
}
.box_sliders {
    text-align: center;
    color: black;
    height: 500px;
}
.box_slider {
    width: 100%;
    height: 100%;
}
.img_slider {
    margin: auto;
    max-height: 500px;
    width: auto;
}
.text_slider {
    color: white;
}

/* footer */
