{% extends "base.html" %}

{% block title %}
Connexion - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{% block body %}
<h2>Se connecter</h2>

<form method="post" style="margin-bottom: 10px;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter"/>
</form>
<input type="submit" value="Connexion Cri" onclick="window.location='{% url 'social:begin' backend='epita' %}';"/>
<input type="submit" value="S'inscrire" onclick="window.location='/registration';"/>
<input type="submit" value="Annuler" onclick="window.location='/';"/>
{% endblock body%}