{% extends "base.html" %}

{% block title %}
Inscription - Billeterie Epita
{% endblock %}

{% load billeterie_extras %}

{% block body %}
<h2>Inscription</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <br>{{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small><br>
        {% endif %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="S'inscrire"/>
</form>
<input type="submit" value="Annuler" onclick="window.location='/';"/>
<input type="submit" value="Se connecter" onclick="window.location='/accounts/login';"/>
{% endblock %}